@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f9;
  --foreground: #171717;
  --sec-background: #ffffff;
  --gray-background: #dde3ea;
  --sec-text-color: #5f6368;
  --pri-text-color: #1b1c1d;
  --third-background: #d3e3fd;
  --gray-light-background: #e9eef6;
}

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}
/* Root font size for easy rem calculations (1rem = 10px) */
html {
  font-size: 42%; /* 10px base font size for easy rem calculations */
  scroll-behavior: smooth; /* Smooth scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem; /* Base font size: 16px */
  background-color: #fff; /* Default background */
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-out;
  transition: border 100ms ease-out;
}
p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.6rem;
}
/*----------------------------------------------------*/
@media screen and (min-width: 540px) {
  html {
    font-size: 56%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 48%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 1281px) {
  html {
    font-size: 80%;
  }
}
@media screen and (min-width: 1441px) {
  html {
    font-size: 100%;
  }
}
/* ----------------------------------------------------- */
/* tailwind.css */
/* tailwind.css */
.tooltip-after::after {
  @apply absolute w-max rounded-xl bg-stone-700 px-4 py-1 text-white text-[1.1rem] hidden;
  content: attr(data-tooltip);
  transition: all 0.3s ease-in-out;
}

/* Default direction (bottom) */
.tooltip-after[data-direction="bottom"]::after {
  @apply top-[110%] left-0;
}

/* Direction: left */
.tooltip-after[data-direction="left"]::after {
  @apply top-1/2 left-[102%] transform -translate-y-1/2;
}

.tooltip-after:hover::after {
  @apply block;
}
